:root {
  --bs-primary: #ffe353 !important;
  --font-xsmall: 14px !important;
  --font-small: 15px !important;
  --font-medium: 16px !important;
  --font-large: 24px !important;
  --font-xlarge: 32px !important;
}
body {
  font-family: "Inter", sans-serif;
}
.bg-yellow {
  background-color: var(--bs-primary);
}
.text-xsmall {
  font-size: var(--font-xsmall) !important;
}
.text-small {
  font-size: var(--font-small) !important;
}

.text-medium {
  font-size: var(--font-medium) !important;
}
.text-large {
  font-size: var(--font-large) !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/ * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text-xlarge {
  font-size: var(--font-xlarge) !important;
}

.back-home {
  cursor: pointer !important;
  color: 000;
}
.back-home:hover {
  background-color: #ffe27a !important;
}

html[dir="rtl"] * {
  text-align: right;
}

html[dir="rtl"] .search-component {
  text-align: right;
}

html[dir="rtl"] .nav-link.title {
  margin-right: 0;
  margin-left: auto;
}

html[dir="rtl"] .watchlist {
  flex-direction: row-reverse;
}

html[dir="rtl"] .dropdown-menu {
  text-align: right;
}

html[dir="rtl"] .ml-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}

html[dir="rtl"] .mr-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}
