#dropdown-basic {
  border: none;
  color: #000;
  background-color: transparent !important;
  font-weight: 700;
}
.title {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.title:hover {
  color: #000;
  text-decoration: none;
}
